body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    padding: 20px;
}

input {
    width: 60%;
    padding: 8px;
}

button {
    padding: 10px;
    margin: 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/* CONTENEDOR DE LA GALERÍA */
#galeria {
    margin-top: 20px;
    padding: 15px;
    border: 3px dashed #999;
    min-height: 160px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    background-color: white;
}

/* MENSAJE INICIAL */
.mensaje {
    color: #777;
}

/* IMÁGENES */
#galeria img {
    width: 180px;
    height: 120px;
    object-fit: cover;
    cursor: pointer;
    border: 3px solid transparent;
}

/* IMAGEN SELECCIONADA */
.seleccionada {
    border: 4px solid red;
}
